body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0d1117;
    color: #c9d1d9;
  }
  a:link {
    color: #58a6ff;
  }
  a:visited {
    color: #8e96f0;
  }
}
